{% extends 'base.html.twig' %}

{% block body %}

{#ci-dessous la div facture à imprimer#}

<div name="print">
    <div class="row">
        <div class="col-lg-4">
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th scope="col">Facture N.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">xxxxxx</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-4">
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">00/00/00</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-4">
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th scope="col">Client</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">xxxxxx</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div>
            <img src="" alt="" name="logo">
            <div class="lfb" name="">
                <h5>AVENUE DES CHÊNES ROUGES</h5><br>
                <h5>30100 ALES</h5></br>
                <h5>Tel: 04.66.56.40.80</h5></br>
                <h5>SIRET: 49927250800015</h5></br>
            </div>
        </div>
        <div>
            <input type="text" placeholder="Nom Client">
            <textarea name="adresseclient" id="" cols="30" rows="10">Adresse</textarea>
        </div>
        <div class="jumbotron">
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th scope="col">Référence</th>
                        <th scope="col">Désignation</th>
                        <th scope="col">Quantité</th>
                        <th scope="col">P.U. HT</th>
                        <th scope="col">%REM</th>
                        <th scope="col">Remise HT</th>
                        <th scope="col">Montant HT</th>
                        <th scope="col">TVA</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                        <td>---</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <input type="text" name="codefact" placeholder="Code">
            <input type="number" name="basetva" placeholder="Base HT">
            <input type="text" name="tauxtva" placeholder="Taux TVA">
            <input type="text" name="montant" placeholder="Montant TVA">
        </div>
        <div class="col-lg-6">
            <input type="text" name="totht" placeholder="TOTAL HT">
            <input type="number" name="totaltva" placeholder="TOTAL TVA">
            <input type="text" name="totalttc" placeholder="TOTAL TTC">
            <input type="text" name="netapayer" placeholder="NET A PAYER">
        </div>
    </div>

</div>

    {#ci-dessus la div facture à imprimer#}

<div class="row">
    <div class="col-lg-6">
        <img src="" alt="" name="printpic">
        <h5>IMPRIMER</h5>
    </div>
    <div class="col-lg-6">
        <button class="btn btn-primary">MODIFIER</button>
        <button class="btn btn-danger">SUPPRIMER</button>
        <button class="btn btn-primary">ANNULER</button>
    </div>
</div>


{% endblock %}

{% block stylesheets %}
    <style>
        body{
            margin:5%;
        }
        .table {
        width: 10%;
        margin-left: 10%;
        border: solid 1px dimgrey;}
        button {
            margin-top: 40px;
        }
    </style>
{% endblock %}