{% extends 'base.html.twig' %}

{% block body %}
    <h1>PAGE EN CONSTRUCTION</h1>
    <button style="width: 800px; height: 100px">
        <a href="{{ path('page1') }}">Revenir sur la page d'accueil</a>
    </button>
{% endblock %}

{% block stylesheets %}
    <style>
        * {text-align:center;}
        button {
            margin-top: 40px;
        }
    </style>
{% endblock %}