{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <img>LOGO LFB</img>
    </div>

    <div class="well titre" for="">LISTE DES CLIENTS</div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div id="imaginary_container">
                    <div class="input-group stylish-input-group">
                        <input type="text" class="form-control"  placeholder="Search" >
                        <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div id="menu" class="col-md-3">

        </div>
        <div id="content" class="col-md-9">

        </div>
    </div>

    <div class="jumbotron">
        <table class="table table-sm table-hover">
            <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Code</th>
                <th scope="col">Nom Contact</th>
                <th scope="col">Fax</th>
                <th scope="col">Téléphone</th>
                <th scope="col">Crédit disponible</th>
                <th scope="col">Date de dernière commande</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">N1</th>
                <td>001</td>
                <td>NC1</td>
                <td>F1</td>
                <td>TEL1</td>
                <td>CD1</td>
                <td>DDC1</td>
            </tr>
            <tr>
                <th scope="row">N2</th>
                <td>002</td>
                <td>NC2</td>
                <td>F2</td>
                <td>TEL2</td>
                <td>CD2</td>
                <td>DDC2</td>
            </tr>
            <tr>
                <th scope="row">N3</th>
                <td>003</td>
                <td>NC3</td>
                <td>F3</td>
                <td>TEL3</td>
                <td>TCD3</td>
                <td>DDC3</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div>
        <button class="btn btn-primary btn-success" style="width: 1000px; height: 30px">Ajouter un nouveau client</button>
        <button class="btn btn-primary btn-red" style="width: 500px; height: 30px">Supprimer un client</button>
        <button class="btn btn-primary-blue" style="width: 500px; height: 30px">Modifier un client</button>
        <button class="btn btn-primary" style="width: 1000px; height: 30px"><a href="{{ path('page1') }}">Revenir sur la page d'accueil</a></button>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>

        * {
            text-align:center;
        }

        button {
            margin-top: 40px;
            display: flex;
        }

        .titre{
            width: 80%;
            margin:auto;
        }

        #imaginary_container{
            width:100%;
            margin-top:20%;
        }

        .stylish-input-group .input-group-addon{
            background: white !important;
        }

        .stylish-input-group .form-control{
            border-right:0;
            box-shadow:0 0 0;
            border-color:#ccc;
        }

        .stylish-input-group button{
            border:0;
            background:transparent;
        }

    </style>
{% endblock %}