{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <img>LOGO LFB</img>
    </div>

        <label for="">LISTE DES ARTICLES</label>

    <div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div id="imaginary_container">
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control"  placeholder="Search" >
                    <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="row">
        <div id="menu" class="col-md-3">

        </div>
        <div id="content" class="col-md-9">

        </div>
    </div>

    <div class="jumbotron">
        <table class="table table-sm table-hover">
            <thead>
            <tr>
                <th scope="col">N.</th>
                <th scope="col">Code</th>
                <th scope="col">Désignation courte</th>
                <th scope="col">Famille</th>
                <th scope="col">Prix HT</th>
                <th scope="col">Prix TTC</th>
                <th scope="col">Stock théorique</th>
                <th scope="col">Stock réel</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>001</td>
                <td>DC1</td>
                <td>F1</td>
                <td>HT1</td>
                <td>TTC1</td>
                <td>ST1</td>
                <td>SR1</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>002</td>
                <td>DC2</td>
                <td>F2</td>
                <td>HT2</td>
                <td>TTC2</td>
                <td>ST2</td>
                <td>SR2</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>003</td>
                <td>DC3</td>
                <td>F3</td>
                <td>HT3</td>
                <td>TTC3</td>
                <td>ST3</td>
                <td>SR3</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div>
        <button class="btn btn-primary btn-success" style="width: 1000px; height: 30px">Ajouter un article</button>
        <button class="btn btn-primary btn-red" style="width: 500px; height: 30px">Supprimer un article</button>
        <button class="btn btn-primary-blue" style="width: 500px; height: 30px">Modifier un article</button>
        <button class="btn btn-primary" style="width: 1000px; height: 30px"><a href="{{ path('page1') }}">Revenir sur la page d'accueil</a></button>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>

        * {
            text-align:center;
        }

        button {
            margin-top: 40px;
            display: flex;
        }

        #imaginary_container{
            width:100%;
            margin-top:20%;
        }

        .stylish-input-group .input-group-addon{
            background: white !important;
        }

        .stylish-input-group .form-control{
            border-right:0;
            box-shadow:0 0 0;
            border-color:#ccc;
        }

        .stylish-input-group button{
            border:0;
            background:transparent;
        }

    </style>
{% endblock %}